{% load staticfiles %}

<html lang="en">
<head>

  <link rel="stylesheet" type="text/css" href="{% static "info/css/index.css" %}">

</head>

<body>
  <div class="nav">
    <div class="wrapper" id="navwrapper">
    	<div class="logo">
    		<a href="/info" id="bslogo" ><img src="{% static "info/img/logo.png" %}" ></a>
    	</div>
    	<div class="links">

  	  	<div class="link_item" id="about"><a href="/info">About</a></div>
  	  	<div class="link_item" id="resume"><a href="/info">Resume</a></div>
  	  	<div class="link_item" id="dotabuff"><a target="_blank" href="http://www.dotabuff.com/players/64704606">Dotabuff</a></div>
  	  	<div class="link_item" id="contact"><a href="/info" >Contact</a></div>

  	  </div>
    </div>
  </div>

  <div class="data">
    <div class="wrapper" id="datawrapper">

    </div>
  </div>

  <div class="pictures">


  </div>

  <div class="footer">


  </div>





  <script src="{% static "info/js/jquery-1.11.1.min.js" %}" type="text/javascript"></script>
  <script src="{% static "info/js/index.js" %}" type="text/javascript"></script>
</body>
</html>