/*Template CSS for Index.html*/
{% load staticfiles %}

.data {
	background: url("/static/info/img/ben.JPG") no-repeat scroll center;
	background-size: cover;
	/*border-bottom: 2px groove #EAEDF3;*/*/
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.pictures {
	background-color: #EAEDF3;

	/*border-bottom: 2px groove #D3D5DB;*/*/

	position: relative;
	height: 20%;
	width: 100%;
	margin: 0;
	padding-top: 5%;
	padding-bottom: 5%;
}

#desc {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	color: #191E2A;
	font-family: 'Abel', sans-serif;
	font-size: 50px;
	font-weight: 500;
}