/*Template CSS for Index.html*/

body {
	margin: 0;
	padding: 0;
}

.nav {
	background-color: #19191C;

	position: relative;
	height: 70px;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0;

	border-bottom-style: groove;
	border-bottom-width: 2px;
	border-bottom-color: #888888;

}

#navwrapper {
	float: left;
	margin-right: auto;
	margin-left: auto;

	width: 980px;
}

.data {
	background-color: #C5C5D8;
	border-bottom-style: groove;
	border-bottom-width: 5px;
	border-bottom-color: #C5C5D8;

	position: relative;
	height: 600px;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0;
}

#datawrapper {
	float: left;
	margin-right: auto;
	margin-left: auto;

	width: 980px;
}

.pictures {
	background-color: #E0E0EB;

	border-bottom-style: groove;
	border-bottom-width: 5px;
	border-bottom-color: #E0E0EB;

	position: relative;
	height: 500px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer {
	background-color: #FFFAFA;

	position: relative;
	height: 150px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.logo {

	position:relative;
	left: 20px;
	height:100%;
	width: 100px;
}

#bslogo {
	position: absolute;
	height:100%;
	width: 100px;
}

#bslogo img {
	position: absolute;
	padding-top: 5px;
	height: 90%;
	width: 100px;
}

.links {
	background-color: #19191C;

	position: absolute;
	top: 0;
	right: 20px;

	height:100%;
	width: 600px;
}

.link_item {
	background-color: #19191C;
	float: left;
	height: 100%;
	width: 150px;
}

.link_item a {
	display: block;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #FFFAFA;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	text-decoration: none;
}

.link_item a:hover {
	font-size: 30px;
	font-weight: bold;
}

