/*Template CSS for Index.html*/

body {
	margin: 0;
}

.nav {
	background-color: #191E2A;

	position: relative;
	height: 70px;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0;

	border-bottom: 2px groove #888888;

}

.logo {

	float: left;
	margin-left: 20px;
	height:100%;
	width: 100px;
}

#bslogo {
	height:100%;
	width: 100px;
}

#bslogo img {
	padding-top: 5px;
	height: 60px;
	width: 100px;
}

.links {
	background-color: #191E2A;

	float: right;
	margin-right: 20px;

	height:100%;
	width: 600px;
}

.link-item {
	background-color: #191E2A;
	float: left;
	height: 100%;
	width: 150px;
}

.link-item a {
	display: block;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
	color: #FFFAFA;
	text-align: center;
	vertical-align: middle;
	line-height: 70px;
	text-decoration: none;
}

.link-item a:hover {
	font-size: 40px;
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
	height: 100%;
	width: 980px;
}

/*############################################################*/

.data {
	background-color: #EAEDF3;
	/*border-bottom: 2px groove #EAEDF3;*/*/

	position: relative;
	height: 652px;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0;
}

#ben_pic {
	height: 100%;
	width: 980px;
	float: right;
	/*margin-right: 20px;*/
}

#ben_pic img {
	width: 100%;
	/*border:1px solisssd #19191C;*/
}

/*############################################################*/

.pictures {
	background-color: #EAEDF3;

	/*border-bottom: 2px groove #D3D5DB;*/*/

	position: relative;
	height: 240px;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0px;
}

#desc {
	padding-top: 30px;
	text-align: center;
	color: #191E2A;
	font-family: 'Abel', sans-serif;
	font-size: 50px;
	font-weight: 400;
}

/*############################################################*/

.footer {
	background-color: #EAEDF3;

	position: relative;
	height: 20%;
	width: 100%;
	min-width: 980px;
	margin: 0;
	padding: 0;
}
